$guardian-brand: #005689;
$guardian-brand-light: #94b1ca;
$guardian-brand-dark: #00456e;
$neutral-7: #f1f1f1;
$neutral-8: #f6f6f6;
$neutral-2: #767676;
$news-support-6: #63717a;
$error: #d61d00;
$success: #4a7801;

pre {
    font-family: sans-serif;
    margin: 0;
}

button:focus {
    outline: 0;
}

.quiz-builder__section {
    margin-bottom: 35px;
}

.quiz-builder__section-title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
}

.quiz-builder__header {
    color: $guardian-brand;
}

.quiz-builder__question {
    padding: 10px;
    border: 1px solid $guardian-brand-dark;
    margin-bottom: 20px;
    position: relative;
}

.quiz-builder__button {
    border-radius: 10px;
    border: 1px solid $guardian-brand;
    background-color: white;
    padding: 10px;
    color: $guardian-brand;
}

.quiz-builder__question-number {
    font-size: 16px;
    font-weight: normal;
    background-color: white;
    color: $guardian-brand-dark;
    display: inline-block;
    top: -16px;
    margin: 0;
    position: relative;
}

.quiz-builder__question-text {
    .elastic-text-area__textarea,
    .elastic-text-area__grow-box {
        font-size: 18px;
        font-weight: bold;
        display: block;
        padding: 10px 0;
        border: 0;
    }

    margin-bottom: 3px;
}

.quiz-builder__json-viewer {
    margin-bottom: 20px;
    
    .elastic-text-area__textarea,
    .elastic-text-area__grow-box {
        border: 1px solid $guardian-brand-dark;
        display: block;
        background-color: black;
        color: white;
        font-family: "Courier New", Courier, monospace;
        width: 100%;
    }
}

.quiz-builder__question-close {
    background-color: white;
    position: absolute;
    top: 0;
    right: 5px;
    border: 0;
    margin-top: -9px;
    padding: 0;
}

.quiz-builder__answer-letter {
    margin-top: 0;
    color: $error;
    margin-bottom: 5px;

    svg {
        width: 20px;
        height: 20px;
        position: relative;
        top: 4px;
    }
}

.quiz-builder__correct-toggle {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.quiz-builder__answers {
    margin-top: 5px;
    margin-bottom: 10px;
}

.quiz-builder__answer {
    position: relative;
    background-color: $neutral-8;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 0;
}

.quiz-builder__answer-close {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
}

.quiz-builder__answer--correct .quiz-builder__answer-letter {
    color: $success;
}

.quiz-builder__answer-text {
    .elastic-text-area__textarea,
    .elastic-text-area__grow-box {
        background-color: transparent;
        box-sizing: border-box;
        border: 0;
        padding: 10px 0;
    }
}

.quiz-builder__image-url {
    background-color: transparent;
    box-sizing: border-box;
    border: 0;
    padding: 10px 0;
    width: 100%;
}

.quiz-builder__reveal-text {
    .elastic-text-area__textarea,
    .elastic-text-area__grow-box {
        background-color: transparent;
        font-size: 14px;
        font-style: italic;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        padding: 10px 0;
    }
}

.quiz-builder__cross-path {
    fill: $error;
}

.quiz-builder__tick-path {
    fill: $success;
}

.quiz-builder__drop-placeholder {
    background-color: $neutral-7;
    padding: 10px;
}

.quiz-builder__drop-placeholder--answer {
    margin-bottom: 5px;
}

.quiz-builder__drop-placeholder--question {
    margin-bottom: 20px;
}

.elastic-text-area__container {
    position: relative;
}

.elastic-text-area__grow-box {
    display: none;
    white-space: pre-wrap;
    display: block;
    visibility: hidden;
    word-wrap: break-word;
}

.elastic-text-area__textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    resize: none;
}

$min-score-col-width: 40px;

.quiz-builder__result-group {
    position: relative;
    padding-left: $min-score-col-width;
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 25px;
    }

    &:first-of-type {
        margin-top: 20px;
    }
}

.quiz-builder__min-score {
    box-sizing: border-box;
    color: $guardian-brand-light;
    text-align: right;
    width: $min-score-col-width;
    font-size: 24px;
    position: absolute;
    padding-right: 5px;
    bottom: -12px;
    left: 0;

    .quiz-builder__result-group--error & {
        color: $error;
    }
}

.quiz-builder__result-group-inner {
    position: relative;
    background-color: $neutral-8;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid $guardian-brand-light;

    .quiz-builder__result-group--error & {
        border-bottom: 2px solid $error;
    }
}

.quiz-builder__error-message {
    font-size: 18px;
    color: $error;
}

.quiz-builder__min-score-buttons {
    display: none;
    position: absolute;
    left: 0;
    top: 10px;

    .quiz-builder__result-group:hover & {
        display: block;
    }
}

.quiz-builder__min-score-button {
    background-color: transparent;
    border: 0;
    padding: 0 5px;
    display: block;

    path:first-of-type {
        fill: $neutral-2;
    }
}