
$guardian-brand: #005689;
$guardian-brand-light: #94b1ca;
$guardian-brand-dark: #00456e;

button:focus {
    outline: 0;
}

.quiz-builder__header {
    background-color: $guardian-brand-dark;
    color: $guardian-brand-light;
    padding: 20px;
}

.quiz-builder {

}

.quiz-builder__question {
    padding: 10px;
    border: 1px solid $guardian-brand-dark;
    margin-bottom: 20px;
    position: relative;
}

.quiz-builder__button {
    border-radius: 10px;
    border: 1px solid $guardian-brand;
    background-color: white;
    padding: 10px;
    color: $guardian-brand;
}

.quiz-builder__question-number {
    font-size: 16px;
    font-weight: normal;
    background-color: white;
    color: $guardian-brand-dark;
    display: inline-block;
    top: -16px;
    margin: 0;
    position: relative;
}

.quiz-builder__question-text {
    display: block;
    width: 100%;
    padding: 10px 0;
    border: 0;
}

.quiz-builder__json-viewer {
    border: 1px solid $guardian-brand-dark;
    display: block;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    height: 400px;
    width: 100%;
}

.quiz-builder__question-close {
    background-color: white;
    position: absolute;
    top: 0;
    right: 5px;
    border: 0;
    margin-top: -9px;
    padding: 0;
}

.quiz-builder__answer-letter {
    margin-bottom: 5px;
}

.quiz-builder__answer {
    margin-bottom: 10px;
}

.quiz-builder__answer-text {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    padding: 10px 0;
}