logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/logs/
/project/*-shim.sbt
/target/
/jspm_packages
/node_modules
/static/css/main.css
/target/*
aws.json
