<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div style="padding: 12px;">
        <h1>Please sign in to <a href="https://workflow.gutools.co.uk">workflow</a> to access quizzes</h1>

        <p>Also ensure that you are on a secure connection using https (<a href="https://quizzes.gutools.co.uk">https://quizzes.gutools.co.uk</a>)</p>
    </div>
  </body>
</html>
